body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.bioUser {
  width: 340px;
  padding: 10px;
  background: #f5f5f5;
  opacity: 1;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postContainer span {
  margin-bottom: 5px;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.bioUser:hover {
  opacity: 0.9;
}

#editBio {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.postsUser {
  display: flex;
  flex-direction: column;
}
.bioUser div {
  display: flex;
  flex-direction: column;
}
#postById {
  flex-direction: column-reverse !important;
}
.postsUser div,
.votedPost div,
.postContainer div,
#postById {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 1;
  background: #efefef;
  display: flex;
  flex-direction: column;
}

.postsUser div:hover,
.votedPost div:hover,
.postContainer div:hover {
  transition: 1s;
  cursor: pointer;
  box-shadow: 2px 4px 3px #f5f5f5;
  transform: scale(0.95);
}
.postsUser button {
  width: 40%;
}

.signup_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  max-width: 800px;
  margin: 20% auto;
  background: #fafafa;
  padding: 20px;
  color: #6c6c6c;
}
.signup_container h3 {
  margin: 6px auto;
}
.signup_container input[type="submit"] {
  background: #4caf50;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px 4px;
}
.signup_container input,
select,
label,
.is_register {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 4px;
}

.postContainer div {
  background: #e0e0e0;
}

.chat_container div {
  padding: 9px;
  border-radius: 4px;
}
.chat_container span {
  background: #c6c6c6;
  display: block;
}
.chat_container {
  padding: 20px;
  background: lavender;
  font-size: 18px;
  width: 100%;
  max-width: 800px;
  position: relative;
}
.chat_receiver span {
  padding: 8px;
}

.chat_sender span {
  background: orange !important;
}
.chat_sender {
  background: orange !important;
  margin-left: 50%;
  color: blue !important;
}

#chatbox {
  height: 100%;
  max-height: 50vh;
  padding: 4px 16px 0px 4px;
  width: 97%;
  max-width: 50vw;
  overflow-y: scroll;
  position: relative;
}
#messageFieldId {
  width: 100%;
}
#sendBtnId:hover {
  opacity: 1;
}
#sendBtnId {
  color: #efefef;
  cursor: pointer;
  opacity: 0.8;
  background: cornflowerblue;
  padding: 10px;
  width: 100%;
}
#userlistbox {
  background: lavender;
  width: 100%;
  padding: 20px;
  max-width: 560px;
}
.time {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 12px;
}
#userlistbox h3 {
  margin: 0px 0 14px 0px;
}
#userlistbox li {
  position: relative;

  list-style-type: none;
  margin-bottom: 8px;
  cursor: pointer;
  color: #fff;
  background: #000;
  padding: 10px;
  opacity: 0.8;
  width: 100%;
  max-width: 540px;
}
#userlistbox li:hover {
  opacity: 1;
}
.online > .time {
  color: #000 !important;
}
.online {
  color: #000 !important;
  background: lightgreen !important;
}
.current {
  color: blue;
  box-shadow: 5px 4px 5px #000;
  transition: 0.2s;
  transform: scale(102%);
}
#app {
  height: 100vh;
}
.user_wrapper {
  padding: 10px;
  display: flex;
}
.chat_wrapper {
  height: 90vh;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: #000;
}
#message_container {
  width: 100%;
  max-width: 800px;
  margin-left: 20px;
}
.username {
  font-size: 26px;
  font-weight: bold;
}
.internlocutor {
  color: rgb(187, 135, 235);
  font-size: 20px;
}
